<link href="http://duocthaotuean.com/image/data/tuean/logo-tuean.png" rel="icon" />
<link rel="stylesheet" type="text/css" href="assets/theme/stylesheet/stylesheet.css" />
<!-- livesearch -->
<link rel="stylesheet" type="text/css" href="assets/theme/stylesheet/livesearch.css" />
<!-- end livesearch -->
<link rel="stylesheet" type="text/css" href="assets/theme/stylesheet/default.css">
<link rel="stylesheet" type="text/css" href="assets/theme/stylesheet/stylesheet-mobile.css" />
<link rel="stylesheet" type="text/css" href="assets/javascript/jquery/thickbox/thickbox.css" />
<link rel="stylesheet" type="text/css" href="assets/theme/stylesheet/font/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="assets/theme/stylesheet/font/font-awesome.css">
<link rel="stylesheet" type="text/css" href="assets/theme/stylesheet/font/FontFace.css">
<link rel="stylesheet" type="text/css" href="assets/theme/stylesheet/font-karla/font-karla.css">
<link rel="stylesheet" type="text/css" href="assets/theme/stylesheet/font-tl/font-tl.css">
<nkt-header [config]="config" [menuMobile]="menuMobile" [menu]="menu"></nkt-header>

<router-outlet>

</router-outlet>


<nkt-footer [config]="config" [menuMobile]="menuMobile" [menu]="menu"></nkt-footer>