<div class="row">
  <div class="col-md-3">
    <nb-card>
      <nb-card-header>
        Nhóm sản phẩm
      </nb-card-header>
      <nb-card-body>
        <ng2-smart-table #tableCategory (userRowSelect)="onSelectedRow($event)" [settings]="settingsCategory" [source]="sourceCategory">
        </ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-9">
    <nb-card>
      <nb-card-header>
        Sản phẩm
      </nb-card-header>
      <nb-card-body>
        <ng2-smart-table #table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
        </ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </div>
</div>