<product-detail *ngIf="product != null" [product]="product"></product-detail>
<new-detail *ngIf="new != null" [new]="new" ></new-detail>
<category-detail *ngIf="category != null" [category]="category" ></category-detail>
<san-pham *ngIf="sanpham != false"></san-pham>
<tintuc *ngIf="tintuc != false"></tintuc>
<tuyendung *ngIf="tuyendung != false" ></tuyendung>
<gioithieu *ngIf="gioithieu != false"></gioithieu>
<lienhe *ngIf="lienhe != false"></lienhe>
<shipping *ngIf="thanhtoan != false"></shipping>
<search *ngIf="search != false"></search>
<images-content *ngIf="anh != false"></images-content>