// #owl-imagelinks11 .item {
//     margin: 5px;
//     position: relative;
// }
#owl-imagelinks11 img {
display: block;
width: 150px;
height: auto;
float: none;
margin: 0 auto;
-webkit-border-radius: 100%;
-moz-border-radius: 100%;
-khtml-border-radius: 100%;
border-radius: 100%;
border: 1px solid #ccc;

}